$primary-color: #627abc; /* periwinkle */
$backup-color: #8aebe7; /* sea foam blue */
$secondary-color: #0086ad; /* darker blue */

body {
  color: black;
  font-family: 'Poppins', sans-serif;
  padding-top: 55px;
  height: 100%;
}

.main-view {
    background-color: black;
    color: white;
    height: 100%;
}

header {
  background-color: $primary-color;
  font-weight: 700;
  font-size: 50px;
}

.button-primary .button-login {
  background-color: $primary-color;
  color: black;
}
